.careheader_container {
  background: url(../assets/carefinder1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  display: grid;
  height: 100vh;
  width: 100%;
  margin: 0%;
  margin-top: 0;
  padding: 0%;
}

/* .careheader_wrapper {
    height: 100%;
    width: 100%;
} */
.careheader_head {
  text-align: center;
  line-height: 3rem;
  margin-top: 3rem;
}

.careheader_heading,
.heading_para {
  color: rgba(8, 41, 155, 1);
}

.careheader_heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}

/* .careheader_heading h1 {
  margin-top: 1rem;
} */

.careheader_input {
  position: relative;
  padding: 20px 30px;
}

.careheader_input_element {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 90%;
}

.careheader_input_icon {
  position: relative;
  right: 45px;
  font-size: 1.5rem;
  top: 20px;
  cursor: pointer;
  padding: 20px 30px;
}

.careheader_select {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  gap: 1rem;
  padding: 20px 30px;
}

.careheader_item {
  color: #fff;
  background-color: rgba(8, 41, 155, 1);
  padding: 8px 12px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.careheader_item:hover {
  background-color: rgb(57, 77, 255);

  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.careheader_select_icon {
  font-size: 30px;
}

.careheader_select_icon:hover {
  color: rgb(57, 77, 255);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 991px) {
  .careheader_heading {
    font-size: 2rem;
  }

  .careheader_select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;
  }

  .careheader_item {
    margin-bottom: 1rem;
  }
  .careheader_select_icon {
    font-size: 20px;
  }

  careheader_container {
    background: url(../assets/carefinder1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    place-items: center;
}

}
