.registration-form-wrapper {
    background: url(../assets/signup.png);
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 0%;
}

.registration-form {
    width: 400px;
    padding: 20px;
    margin-top: 0%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;

}

p{
    font-size: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-methods button {
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background: rgba(8, 41, 155, 1);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.signup-methods {
    border: none;
    margin: 2px 0px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background: rgba(8, 41, 155, 1);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signup-methods:hover {
    background: rgba(8, 41, 155, 1);
    color: white;
    border: none;
    box-shadow: 0px 15px 20px rgb(8, 77, 155);
    transform: translateY(-7px);
}
.linkback {
    color: black;
}



@media screen and (max-width: 991px) {
    .registration-form {
        max-width: 300px;
        border: 2px solid rgba(8, 41, 155, 1);
        margin-top: 100px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 10);
    }
    h1{
        font-size: 20px;
    }
    


}